<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8" />
<title>Student Manager || New Student</title>
<link rel="stylesheet" type="text/css"
	href="bootstrap/css/bootstrap.min.css"
	th:href="@{/bootstrap/css/bootstrap.min.css}" media="screen" />
<link rel="stylesheet" type="text/css" href="bootstrap/css/style.css"
	th:href="@{/bootstrap/css/style.css}" media="screen" />
<link rel="stylesheet" type="text/css"
	href="bootstrap/css/font-awesome/css/font-awesome.css"
	th:href="@{/bootstrap/css/font-awesome/css/font-awesome.css}"
	media="screen" />
</head>

<body>
	<div class="container">
		<div class="row">
			<form th:action="@{updateStudent}" method="post" th:object="${student}" enctype="multipart/form-data" class="form-horizontal">
				<fieldset>

					<!-- Form Name -->
					<legend>Edit Student</legend>
					
					<!-- Text input-->
					<div class="form-group">
						<label class="col-md-4 control-label" for="lastname">ID</label>
						<div class="col-md-5">
							<input th:field="*{id}" id="lastname" type="text"
								placeholder="Your last name" class="form-control input-md"/>
								<b><span th:errors="*{id}" class="text-danger"></span></b>

						</div>
					</div>

					<!-- Text input-->
					<div class="form-group">
						<label class="col-md-4 control-label" for="lastname">First
							Name</label>
						<div class="col-md-5">
							<input th:field="*{firstName}" id="lastname" type="text"
								placeholder="Your last name" class="form-control input-md"/>
								<b><span th:errors="*{firstName}" class="text-danger"></span></b>

						</div>
					</div>

					<!-- Text input-->
					<div class="form-group">
						<label class="col-md-4 control-label" for="firstname">Last
							Name</label>
						<div class="col-md-5">
							<input id="firstname" th:field="*{lastName}" type="text"
								placeholder="Your first name" class="form-control input-md"/>
								<b><span th:errors="*{lastName}" class="text-danger"></span></b>

						</div>
					</div>

					<!-- Text input-->
					<div class="form-group">
						<label class="col-md-4 control-label" for="email">Email</label>
						<div class="col-md-5">
							<input id="email" th:field="*{email}" type="text"
								placeholder="Your email here" class="form-control input-md"/>
								<b><span th:errors="*{email}" class="text-danger"></span></b>
						</div>
					</div>
					
					<!-- Multiple Radios (inline) -->
					<div class="form-group">
						<label class="col-md-4 control-label" for="gender">Gender</label>
						<div class="col-md-4">
							<label class="radio-inline" for="gender-0"> <input
								type="radio" th:field="*{gender}" id="gender-0" value="Male"
								checked="checked" /> Male
							</label> <label class="radio-inline" for="gender-1"> <input
								type="radio" th:field="*{gender}" id="gender-1" value="Female" />
								Female
							</label>
							<b><span th:errors="*{gender}" class="text-danger"></span></b>
						</div>
					</div>
					
					<!-- Text input-->
					<div class="form-group">
						<label class="col-md-4 control-label" for="firstname">Photo</label>
						<div class="col-md-5">
							<input id="firstname" name="pic" type="file"
								placeholder="Your first name" class="form-control input-md"/><br></br>
								<b><span th:errors="*{photo}" class="text-danger"></span></b>
								<img th:src="@{getPhotoProfile(id=${student.id})}" width="100" height="100"></img>

						</div>
					</div>

					<!-- Text input-->
					<div class="form-group">
						<label class="col-md-4 control-label" for="username">Date Of Birth</label>
						<div class="col-md-5">
							<input type="date" id="username" th:field="*{dateOfBirth}"
								class="form-control input-md"/>
								<b><span th:errors="*{dateOfBirth}" class="text-danger"></span></b>

						</div>
					</div>

					<!-- Button -->
					<div class="form-group">
						<label class="col-md-4 control-label" for="confirmation"></label>
						<div class="col-md-4">
							<button id="confirmation" name="confirmation"
								class="btn btn-primary">Submit</button>
						</div>
					</div>

				</fieldset>
			</form>

		</div>
	</div>

</body>
</html>